﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<div class="row">
    <div class="col-md-8">Our Text Justification</div>
    <div class="col-md-4"><img/><h3>Our Info</h3>
    <div class="row-fluid">
        <div class="panel body-content">
            <h5>
                MedSuppGuide by Heartland Financial Group, Inc. 
            </h5>
            <address>
                <span>1600 NE Coronado Rd.</span><br />
                <span>Blue Springs, Missouri 64014</span><br />
                <span><a href="tel:+1-844-674-7877">844-674-7877</a><br/>
                </span>

            </address>
            <h5>Social Media</h5>
            <ul style="float:left;" class="social-list">
                <li>
                    Web <span><a href="/">MedSuppGuide.com</a><img />(icon)</span>
                </li>
                <li>
                    Facebook <span><a>Like Us</a> <img />(icon)</span>
                </li>
                <li>
                    Twitter <span>@@MedSuppGuide</span> <span><a><img/> (Icon)</a></span>
                </li>
                <li>
                    LinkedIn <span><a>Connect</a> <img />(icon)</span>
                </li>
            </ul>

        </div>
        
        
        </div>
    </div>


</div>